@font-face {
  font-family: 'Markazi Text';
  src: local('Markazi Text'), url('../assets/fonts/MarkaziText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  src: local('Karla'), url('../assets/fonts/Karla-Regular.ttf') format('truetype');
}

:root {
  /*- background-colors-*/
  /*- primary-colors-*/
  --color--primary-green: #495E57;
  --color--primary-yellow: #f4ce14;
  /*- secondary-colors-*/
  --color-secondary-1: #ee9972;
  --color-secondary-2: #fbdabb;
  /*-highlight-colors-*/
  --color-highlight-w: #edefee;
  --color-highlight-b: #333333;

  /* text */
  --font-title: 'Markazi Text', Arial, sans-serif;
  --font-text: 'Karla', Arial, sans-serif;

  /* line-height */
  --font-line-height: 1.5;

  /* font-size */
  --font-size-title: 40pt;
  --font-size-subtitle: 18pt;
  --font-size-text: 16pt;
}