:root {
  /*- background-colors-*/
  /*- primary-colors-*/
  --bg--primary-green: #495E57;
  --bg--primary-yellow: #f4ce14;
  /*- secondary-colors-*/
  --bg-secondary-1: #ee9972;
  --bg-secondary-2: #fbdabb;
  /*-highlight-colors-*/
  --bg-highlight-w: #edefee;
  --bg-highlight-b: #333333;

  /* text */
  /* text colors */
}