@import '../../styles/variables.module.css';

.Article {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  background-color: var(--color--primary-green);
}

.Article-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.Article-title {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  color: var(--color--primary-yellow);
  margin: 0;
}

.Article-subtitle {
  font-family: var(--font-subtitle);
  font-size: var(--font-size-subtitle);
  color: var(--color-highlight-w);
  margin: 0;
}

.Article-main {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.Article-picture {
  max-width: 10rem;
  max-height: 10rem;
}

.Article-img {
  border-radius: 1rem;
}

.Article-text {
  width: 60%;
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--color-highlight-w);
}

.Article-footer {
  display: flex;
  justify-content: start;
  align-items: center;
}

.Article-link {
  background-color: var(--color--primary-yellow);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--font-text);
  font-size: 1rem;
  color: var(--color-highlight-b);
  text-decoration: none;
}

@media screen and (min-width: 577px) {
  .Article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 2rem);
    padding: 1.5vw clamp(2.5vw, 8vw, 10vw);
  }

  .Article-header {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .Article-main {
    grid-column: 1/-1;
    grid-row-start: 1;
    gap: 2rem;
  }

  .Article-picture {
    height: 50vw;
    max-width: 23.5rem;
    max-height: 26.25rem;
  }

  .Article-text {
    margin-top: 6rem;
  }

  .Article-footer {
    grid-column: 1/-1;
    grid-row-start: 9;
  }
}

@media screen and (min-width: 769px) {
  .Article {
    padding: 1.5vw clamp(8vw, 15vw, 18vw);
  }
}


@media screen and (min-width: 1201px) {
  .Article {
    padding: 1.5vw clamp(15vw, 22vw, 22.5rem);
  }
}