.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.125rem;
}

.Header-logo {
  width: calc(8rem + 1.5vw);
}

.Header-cartImg,
.Header-img {
  object-fit: contain;
}

.Header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color--primary-green);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  transition: transform 280ms ease-in-out;
  transform: translateX(-100%);
}

.Header-nav.is-active {
  transform: translateX(0);
}

.Header-link {
  text-decoration: none;
  color: var(--color-highlight-b);
  background-color: var(--color--primary-yellow);
  width: 12rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-family: var(--font-title);
  font-size: var(--font-size-text);
  line-height: var(--font-line-height);
}

@media screen and (min-width: 577px) {
  .Header {
    padding: 1.5vw 5vw;
  }

  .Header-nav {
    position: static;
    background-color: inherit;
    z-index: auto;
    flex-direction: row;
    transform: translateX(0);
    gap: 2vw;
  }

  .Header-link {
    background-color: inherit;
    width: auto;
    height: auto;
    display: inline;
    border-radius: 0;
    white-space: nowrap;
  }
}

@media screen and (min-width: 769px) {
  .Header {
    padding: 1.5vw 15vw;
  }
}

@media screen and (min-width: 1201px) {
  .Header {
    padding: 1.5vw 22.5vw;
  }
}