.header {
  display: flex;
  justify-content: center;
  padding: 1rem 1.125rem 1.25rem 1.125rem;
  height: 5rem;
  overflow-y: hidden;
}

@media screen and (min-width: 577px) {
  .header {
    padding: 1.5vw 5vw;
  }
}

@media screen and (min-width: 769px) {
  .header {
    padding: 1.5vw 15vw;
  }
}

@media screen and (min-width: 1201px) {
  .header {
    padding: 1.5vw 22.5vw;
  }
}