@import url('../../styles/variables.module.css');

.Chicago {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  gap: 1rem;
}

.Chicago-title,
.Chicago-subtitle {
  font-family: var(--font-title);
  color: var(--color-highlight-b);
  line-height: var(--font-size-subtitle);
}

.Chicago-title {
  font-size: var(--font-size-title);
}

.Chicago-subtitle {
  font-size: var(--font-size-subtitle);
  margin-bottom: 1rem;
}

.Chicago-images {
  position: relative;
  display: flex;
  width: calc(18rem + 3.5vw);
  height: calc(18rem + 3.5vw);
}

.Chicago-picture {
  width: 60%;
  height: 75%;
}

.Chicago-img {
  border-radius: 0.25rem;
}

.Chicago-picture:nth-child(1) {
  position: absolute;
  left: 0;
  bottom: 0;
}

.Chicago-picture:nth-child(2) {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 577px) {
  .Chicago {
    padding: 5vw 5vw;
    flex-direction: row;
    justify-content: space-between;
  }

  .Chicago-about {
    width: 50%;
  }
}

@media screen and (min-width: 769px) {
  .Chicago {
    padding: 5vw 15vw;
  }
}

@media screen and (min-width: 1201px) {
  .Chicago {
    padding: 4vw 22.5vw;
  }
}

/*
.Chicago {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  gap: 1rem;
}

.Chicago-title,
.Chicago-subtitle {
  font-family: var(--font-title);
  color: var(--color-highlight-b);
  line-height: var(--font-size-subtitle);
}

.Chicago-title {
  font-size: var(--font-size-title);
}

.Chicago-subtitle {
  font-size: var(--font-size-subtitle);
  margin-bottom: 1rem;
}

.Chicago-about {
  width: 50%;
}

.Chicago-images {
  position: relative;
  display: flex;
  width: calc(18rem + 3.5vw);
  height: calc(18rem + 3.5vw);
}

.Chicago-picture {
  width: 60%;
  height: 75%;
}

.Chicago-img {
  border-radius: 0.25rem;
}

.Chicago-picture:nth-child(1) {
  position: absolute;
  left: 0;
  bottom: 0;
}

.Chicago-picture:nth-child(2) {
  position: absolute;
  right: 0;
  top: 0;
}
*/