.Article {
  background-color: var(--color--primary-green);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 2.25rem);
  padding: 1.5vw 1rem;
}

.Article-header {
  grid-column: 1/-1;
  grid-row: 1/4;
}

.Article-title {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  color: var(--color--primary-yellow);
  line-height: var(--font-size-subtitle);
  margin: 1rem 0 0 0;
}

.Article-subtitle {
  font-family: var(--font-subtitle);
  font-size: var(--font-size-subtitle);
  color: var(--color-highlight-w);
}

.Article-main {
  grid-column: 1/-1;
  grid-row: 5/9;
  display: flex;
  justify-content: space-between;
  gap: 3.25vw;
}

.Article-text {
  width: 60%;
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--color-highlight-w);
}

.Article-picture {
  max-width: 10rem;
}

.Article-img {
  border-radius: 1rem;
}

.Article-footer {
  grid-column: 1/-1;
  grid-row-start: 10;
}

.Article-link {
  background-color: var(--color--primary-yellow);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--font-text);
  font-size: 1rem;
  color: var(--color-highlight-b);
  text-decoration: none;
}

@media screen and (min-width: 577px) {
  .Article {
    padding: 1.5vw 5vw;
  }

  .Article-main {
    grid-column: 1/-1;
    grid-row-start: 1;
  }

  .Article-text {
    margin-top: 7.5rem;
  }

  .Article-picture {
    margin-top: 5rem;
    max-width: 100%;
    min-height: 20rem;
  }

  .Article-footer {
    grid-row-start: 9;
  }
}

@media screen and (min-width: 769px) {
  .Article {
    padding: 1.5vw 15vw;
  }

  .Article-picture {
    margin-top: 0rem;
    max-width: 16rem;
    min-height: 25rem;
  }

}

@media screen and (min-width: 1201px) {
  .Article {
    padding: 1.5vw 22.5vw;
  }

  .Article-picture {
    max-width: 100%;
    min-height: 26.25rem;
  }
}