@import '../../styles/variables.module.css';

.Menu {

  overflow: hidden;
}

.Menu-article {
  padding: 1rem;
  background-color: var(--color--primary-green);
  margin-bottom: 1rem;
}

.Menu-title {
  font-family: var(--font-title);
  font-size: var(--font-size-subtitle);
  color: var(--color-secondary-1);
}

.Menu-text {
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--color-secondary-2);
}

.Menu-dishes {
  height: 55vh;
}

@media screen and (min-width: 577px) {
  .Menu-article {
    padding: 1.5vw 5vw;
  }
}

@media screen and (min-width: 769px) {
  .Menu-article {
    padding: 2vw 15vw;
  }
}

@media screen and (min-width: 1201px) {
  .Menu-article {
    padding: 2.5vw 22.5vw;
  }
}